{% extends 'home.html' %}
{% block titles %}
    <title>成绩查询</title>
{% endblock %}

{% block content %}
    <div>
        <div class="container">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">成绩查询</h3>
                </div>
                <div class="panel-body">
                    <form method="get" class="form-inline">
                        <div class="form-group">
                            {{ choose_Y_T.year.label }}
                            <select name="year" class="form-control chosen-select">
                                <option value>全部</option>
                                {% for every in year_now %}
                                    <option value="{{ every.year }}">{{ every.year }}~{{ every.year|add:1 }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            {{ choose_Y_T.term.label }}
                            {{ choose_Y_T.term }}
                        </div>
                        <button type="submit" class="btn btn-primary" style="float: right">查 询</button>
                    </form>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>课程</th>
                            <th>学期</th>
                            <th>成绩</th>
                            <th>学分</th>
                            <th>绩点</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for every_course in grade_list %}
                            <tr>
                                <td>{{ every_course.cname }}</td>
                                <td>{{ every_course.term }}</td>
                                <td>{{ every_course.grade }}</td>
                                <td>{{ every_course.credit }}</td>
                                <td>{{ every_course.gpa }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <ul class="pagination">
                {{ grade_page }}
                <li>
                <form style="float: left;margin-left: -1px" method="get">
                    <input name="page"
                           style="position: relative;float:left;display: inline-block;width: 80px;border-radius: 0;"
                           type="text" class="form-control" placeholder="页码" value={{ current_page }}>
                        <button style="border-radius: 0" class="btn btn-default" type="submit">跳转</button>
                </form>
            </li>
            </ul>
        </div>
    </div>
{% endblock %}